<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="com.redhat.fabric8analytics.lsp.eclipse.ui.Fabric8AnalyticsStreamConnectionProvider"
            id="com.redhat.fabric8analytics.lsp.eclipse.server"
            label="Fabric8Analytics">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.m2e.core.pomFile"
            id="com.redhat.fabric8analytics.lsp.eclipse.server">
      </contentTypeMapping>
      <contentTypeMapping
             contentType="org.eclipse.wst.json.npm.core.npmsource"
             id="com.redhat.fabric8analytics.lsp.eclipse.server">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.redhat.fabric8analytics.lsp.eclipse.ui.Fabric8AnalysisPreferencePage"
            id="com.redhat.fabric8analytics.lsp.eclipse.preferences"
            name="Openshift Services">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.redhat.fabric8analytics.lsp.eclipse.ui.StackAnalysesView"
            id="com.redhat.fabric8analytics.lsp.eclipse.ui.StackAnalysesView"
            name="Stack Analyses">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.redhat.fabric8analytics.lsp.eclipse.ui.ExitHandler"
            id="myplugin.command.mycommand"
            name="Exit">
            
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.redhat.fabric8analytics.lsp.eclipse.ui.AuthorizeHandler"
            id="com.redhat.fabric8analytics.lsp.eclipse.ui.authorizetoken"
            name="Connect to Openshift.io">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
         locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="myplugin.command.mycommand"
               label="Stack Analysis"
               mnemonic="M1+P">
         </command>
         <visibleWhen>
				     <with variable="activeMenuSelection">
				            <iterate ifEmpty="false">
				            	<or>
					             	<adapt type="org.eclipse.core.resources.IProject">
					             	</adapt>
					             	<adapt type="org.eclipse.core.resources.IFile">
					             		 <test property="org.eclipse.core.resources.name" value="pom.xml" />
					             	</adapt>
				             	</or>
				            </iterate>
				           </with>
         			</visibleWhen>
      </menuContribution>
   </extension>
 <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=org.eclipse.ui.workbench.help">
         <toolbar
               id="com.redhat.fabric8analytics.lsp.eclipse.ui.Authorize">
            <command
                  commandId="com.redhat.fabric8analytics.lsp.eclipse.ui.authorizetoken"
                  icon="icons/osio-16x16.png"
                  label="%F8Analytics.command.authorize"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
<extension
         point="org.eclipse.ui.menus">
      <menuContribution
         locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="myplugin.command.mycommand"
               label="Stack Analysis"
               mnemonic="M1+P">
         </command>
           <visibleWhen>
				     <with variable="activeMenuSelection">
				            <iterate ifEmpty="false">
				            	<or>
					             	<adapt type="org.eclipse.core.resources.IProject">
					             	</adapt>
					             	<adapt type="org.eclipse.core.resources.IFile">
					             		 <test property="org.eclipse.core.resources.name" value="pom.xml" />
					             	</adapt>
				             	</or>
				            </iterate>
				           </with>
         			</visibleWhen>
      </menuContribution>
   </extension>
 <extension
   point="org.eclipse.m2e.editor.pageFactories">
		<factory class="com.redhat.fabric8analytics.eclipse.ui.Fabric8PomEditorFactory"> </factory>
    </extension>
</plugin>
