<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="com.redhat.bayesian.lsp.eclipse.BayesianStreamConnectionProvider"
            id="com.redhat.bayesian.lsp.eclipse.server"
            label="Bayesian">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.m2e.core.pomFile"
            id="com.redhat.bayesian.lsp.eclipse.server">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.eclipse.wst.json.npm.core.npmsource"
            id="com.redhat.bayesian.lsp.eclipse.server">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.redhat.bayesian.lsp.eclipse.Fabric8AnalysisPreferencePage"
            id="com.redhat.bayesian.lsp.eclipse.preferences"
            name="Fabric8 analysis">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.redhat.bayesian.lsp.eclipse.CustomView"
            id="de.vogella.rcp.commands.first.commands.Exit"
            name="Stack Analyses">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.redhat.bayesian.lsp.eclipse.ExitHandler"
            id="myplugin.command.mycommand"
            name="Exit">
            
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
         locationURI=
         "popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="myplugin.command.mycommand"
               label="stack analyses"
               mnemonic="M1+P"
               tooltip="Do something with this project">
         </command>
      </menuContribution>
   </extension>

</plugin>
